*.class
*.log

# mac os x
.DS_Store

# intellij ide
.idea

# sbt specific
.cache
.history
.lib/
lib/
.settings/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# scala
.classpath
